img {
    max-width: 100%;
}

.nes-container {
    margin-bottom: 1.5rem !important;
}

.message i {
    float:left;
    margin-right: 2rem;
}

.message.-right i {
    float: right;
    margin-left: 2rem;
    margin-right: 0;
}

h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h4 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.plain-text {
    font-family: sans-serif;
}

.nes-list.is-dark li:before {
    color: #fff;
}
