#main .item.intro {
	background-color: #413a52;
}

.hidden {
	display: none;
}

#mc_embed_signup {
	padding: 2rem 5rem;
	color: #000000 !important;
	width: 50vw;
	min-width: 250px;
	max-width: 600px;
}

#mc_embed_signup h2 {
	color: #000000 !important;
}


.contact-inner {
	margin: auto;
}

#contact {
	width: 100%;
	padding: 1.5em;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	position: relative;
	z-index: 10002;
}


body {
	background: linear-gradient(-45deg, #e27f6d, #ae444e, #23a6d5, #3f3851, #69bd8c);

	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.poptrox-popup > .pic {
	position: relative;
	z-index: -1;
}

.poptrox-popup > .caption {
	z-index: 0;
}
